<!DOCTYPE html>
<html>
<head>
<style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}
@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}
body  {
    color:#fff;
    text-align:center;
    background-image: url('http://i65.tinypic.com/2q8d7w7.gif');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    font-family: 'Times New Roman', serif;
}
.btn {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.btn:active {
	position:relative;
	top:1px;
}
.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#ce8 0%,#592 100%);
  border-radius: 100px;
  border: 0.5px solid #8c4;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  padding: 7px 40px 9px 15px;
  box-shadow: inset 0px 1px 0px rgba(100%,100%,100%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
    color: #372;
  font-size: 14px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
  }
  .button > div {
    color: #372;
  font-size: 10px;
  font-family: transcript;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: -3px 0px 0px 0px
  }
  .button > i {
    color: #372;
  font-size: 1.1em;
  background: #fff;
  border-radius: 100px;
  border: 3px solid #371;
  border-width: 3px 3px 3px 3px;
  padding: 7px 7px 7px 7px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  right: 0px
  }
  .button > .ld {
    font-size: initial
  }
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
}
</style>
</head>
<body>

<h2>Animated Buttons - "Pressed Effect"</h2>

<button class="button">Click Me</buttonn>

</body>
</html>